.review-form {
    &__products {
        grid-column: 1/-1;
        grid-row: products-s/products-e;
        overflow-y: scroll;

        display: grid;
        grid-template-rows: repeat(auto-fit, 110px);
        // grid-row-gap: 10px;


    }

    &__line {
        grid-column: 1/-1;
        grid-row: line-s/line-e;
        border-top: 1px solid #ccc;
        margin-bottom: 24px;
    }

    &__back {
        grid-column: back-s/back-e;
        grid-row: button-s/button-e;
    }
    
    &__proceed {
        grid-row: button-s/button-e;
        grid-column: proceed-s/proceed-e;
        
    }
}


