.shipping {
    grid-row: content-s/content-e;
    grid-column: s/e;

    &__form {
        display: grid;
        grid-template-rows: [name-s] 64px [name-e] 35px  [address-s] 64px [address-e  city-s] 64px [city-e state-zip-s] 64px [state-zip-e] minmax(20px,98px) [line-s] 24px [line-e button-s] 68px [button-e];
        grid-template-columns: [back-s] 137px [back-e space-s] 40px [space-e use-this-address-s] 1fr [use-this-address-e] 1fr;
        grid-row-gap: 15px;
    }
}

.shipping-form {
    &__name {
        grid-row: name-s/name-e;
    }
    &__address {
        grid-row: address-s/address-e;
    }
    &__city {
        grid-row: city-s/city-e;
    }
    &__state,
    &__zipcode {
        grid-row: state-zip-s/state-zip-e;
        grid-column: back-s;
        input {
            width: 175px;
        }
    }
    &__zipcode {
        transform: translateX(224px);
    }
    &__line {
        grid-row: line-s/line-e;
        grid-column: 1/-1;
        border-top: 1px solid #ccc;
    }
    &__back {
        grid-row: button-s/button-e;
        grid-column: back-s/back-e;
    }
    &__use-this-address {
        grid-row: button-s/button-e;
        grid-column: use-this-address-s/use-this-address-e;
    }
}

.shipping {
    transition: all 0.3s ease;
}


@media only screen and (max-width: 600px) {
    .shipping {
        transform: scale(0.80);
    }
}