.form-input {
    display: grid;
    grid-gap: 6.5px;

    & > * {
        padding-left: 22px;
    }

    &__label {
        font-size: 14px;
    }
    
    &__input {
        box-sizing: border-box;
        height: 39px;
        width: 426px;
        border: 1px solid #e6e6e6;
        border-radius: 23px;
        color: #333333;
        font-size: 18px;
     }
}

.form-button {
    &__button {
        height: 38px;
        width: 213px;
        border-radius: 23px;
        background-color: dodgerblue;
        font-size: 14px;
        color: white;

        &:focus {
            outline: none;
        }
    }

    &__gray-button {
        background-color: #999;
        width: 138px;
    }
}