*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


@import 'layout';
@import 'headernavbar';
@import 'page-title';
@import 'form-fields';
@import 'details';

@import 'auth/signin';
@import 'auth/signup';

@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information';

@import 'shop/shop';
@import 'shop/shop-searchbar';
@import 'shop/shop-product';
@import 'shop/shop-cart';
@import 'shop/cart-product';

@import 'quantity';
@import 'blue-price-tag';

@import 'order/review';
@import 'order/review-form';


html {
    font-size: 62.5%; // 1rem is 10px
}

body {
    font-family: 'Open Sans';
    color: #808080;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

