*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}


@import 'layout';
@import 'headernavbar';
@import 'auth/signin';
@import 'auth/signup';


html {
    font-size: 62.5%; // 1rem is 10px
}

