*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


@import 'layout';
@import 'headernavbar';
@import 'page-title';
@import 'form-fields';
@import 'details';

@import 'auth/signin';
@import 'auth/signup';

@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information';


html {
    font-size: 62.5%; // 1rem is 10px
}

body {
    font-family: 'Open sans';
    color: #808080;
}

