.shop-cart {
    display: grid;
    grid-template-rows: [tog-s] 40px [tog-e con-s] 1fr [con-e];
    grid-template-columns: [s] 1f [e];
    grid-row-gap: 10px;

    &__toggle {
        grid-row: tog-s/tog-e;
        grid-column: s/e;
        justify-self: end;
        display: grid;
        justify-items: center;
        align-items: center;
        
    }
    
    &__content {
        grid-row: con-s/con-e;
        grid-column: s/e;
    }
}

.shop-cart {

    &__toggle {
        
    }

    &__content {
        height: 675px;
        width: 520px;
        background-color: #333;
        box-shadow: -3px 20px 20px 0 rgba(0,0,0,0.3);
    }

}

.cart-button {
    background-color: #333;
    color: white;
    font-size: 26px;
    border-radius: 25px 0 0 25px;
    height: 40px;
    width: 76px;
    
}

.cart-content {

    display: grid;
    grid-template-rows: 25px [title-s] 40px [title-e products-s] 1fr [products-e footer-s] 113px [footer-e];
    grid-template-columns: [footer-s] 30px [s] 1fr [e] 30px [footer-e];

    &__title {
        grid-row: title-s/title-e;
        grid-column: s/e;
        font-weight: 600;
        font-size: 24px;
        font-family: 'Titillium Web';
        color: #e6e6e6;
    }

    &__products {
        grid-row: products-s/products-e;
        grid-column: s/e;
        display: grid;
        overflow-y: scroll;
        padding-top: 40px;
    }

    &__footer {
        grid-row: footer-s/footer-e;
        grid-column: footer-s/footer-e;
        display: grid;
    }
}

.cart-footer {
    height: 113px;
    background-color: #1a1a1a;

    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 40px [checkout-s] 1fr [checkout-e sub-s] 1fr [sub-e] 28px [price-s] 46px [price-e] 30px;
    align-items: center;

    & > * {
        grid-row-gap: s/e;
    }
    
    &__checkout {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-column: checkout-s/checkout-e;

        height: 38px;
        width: 180px;
        border-radius: 20px;
        background-color: dodgerblue;
        font-family: 'Open sans';
        font-weight: 600;
        color: white;
        font-size: 18px;

        transition: all 0.3s ease;
        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.94);
        }

        &:focus {
            outline: none;
        }
    }

    &__subtotal {
        justify-self: end;
        font-size: 18px;
        grid-column: sub-s/sub-e;
    }

    &__price {
        justify-self: start;
        font-size: 18px;
        color: white;
        font-weight: 600;
        grid-column: price-s/price-e;
    }

}